# List

### Properties

In [ ]:
#Enclosed Inside Brackets
sample=[1,2,3,4,5]
print(sample)

In [7]:
#Heterogeneous
l=[1,1.5,True,"Hello"]
print(l)

[1, 1.5, True, 'Hello']

In [2]:
#Accessible through Index
print(l[1])

1.5

In [3]:
#Mutable - we could modify list values after creation
l[1]=1.89
print(l)

[1, 1.89, True, 'Hello']

In [10]:
#Allows duplicates
lst=[1,1,2,2,3,4,5]
print(lst)

[1, 1, 2, 2, 3, 4, 5]

# List functions with examples

In [19]:
#Adding an element to list
a=[1,"a",3,"c",4]
a.append("d")
print(a)

[1, 'a', 3, 'c', 4, 'd']

In [111]:
#type
print(type(a))

<class 'tuple'>

In [20]:
#Adding an element to list at particular index
a.insert(2,2)
a.insert(3,"b")
print(a)

[1, 'a', 2, 'b', 3, 'c', 4, 'd']

In [21]:
#Concatenating two list
b=[5,"e"]
a=a+b
print(a)

[1, 'a', 2, 'b', 3, 'c', 4, 'd', 5, 'e']

In [26]:
#Convert datatype of all element of list to string
for i in range(len(a)):
    a[i]=str(a[i])
print(a)

['1', 'a', '2', 'b', '3', 'c', '4', 'd', '5', 'e']

In [36]:
#Sorts a list in ascending order by default
#sort function sorts the list and update the same list
a.sort()
print(a)

['1', '2', '3', '4', '5', 'a', 'b', 'c', 'd', 'e']

In [37]:
#sorting list in descending order
a.sort(reverse=True)
print(a)

['e', 'd', 'c', 'b', 'a', '5', '4', '3', '2', '1']

In [39]:
#reversing a list
a.reverse()
print(a)

['1', '2', '3', '4', '5', 'a', 'b', 'c', 'd', 'e']

In [40]:
#prints length of list
print(len(a))

10

In [50]:
#Check presence of element in list
print("b" in a)
print("10" in a)
print("d" not in a)
print("25" not in a)

True
False
False
True

In [33]:
#sorted function sorts the list and return but not alter the same list
c=[6,5,4]
d=sorted(c)
print(c)
print(d)

[6, 5, 4]
[4, 5, 6]

In [49]:
#List with different datatype cannot be sorted
trial=["abc",12,34.5,"23.5"]
trial.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [52]:
#Finding count of element in list
a=[1,1,1,2,3,4,5,6,7]
print(a.count(1))

3

In [56]:
#Return index of element
print(a.index(4))

5

In [57]:
#pop used to remove element by specifying index
a.pop(8)

7

In [70]:
#remove is used to remove specific element
trial=["abc",12,34.5,"23.5"]
trial.remove("abc")
print(trial)

[12, 34.5, '23.5']

In [76]:
#extending list
a=[1,2]
b=[3,4]
a.extend(b)
print(a)

[1, 2, 3, 4]

In [81]:
#list slicing
print(a[:2])
print(a[::2])

[1, 2]
[1, 3]

In [98]:
#Copying list gets shallow copy
a=[1,2,3,4]
c=a.copy()
print("a:",a)
print("c:",c)
print(a is c)

a: [1, 2, 3, 4]
c: [1, 2, 3, 4]
False

In [99]:
#copying list with assigment operator
a=[1,2,3,4]
c=a
print("a:",a)
print("c:",c)
print(a is c)

a: [1, 2, 3, 4]
c: [1, 2, 3, 4]
True

# Tuple

In [100]:
#Enclosed Inside paranthesis
sample=(1,2,3,4,5)
print(sample)

(1, 2, 3, 4, 5)

In [101]:
#Heterogeneous
l=(1,1.5,True,"Hello")
print(l)

(1, 1.5, True, 'Hello')

In [103]:
#Immutable - we couldn't modify list values after creation
l[1]=1.89
print(l)

TypeError: 'tuple' object does not support item assignment

In [105]:
#Accessible through Index
print(l[1])

1.5

In [108]:
#Allows duplicates
lst=[1,1,2,2,3,4,5]
print(lst)

[1, 1, 2, 2, 3, 4, 5]

# Tuple functions with examples

In [113]:
#creating
a=(1,"a",3,"c",4)
print(a)

(1, 'a', 3, 'c', 4)

In [112]:
#type
print(type(a))

<class 'tuple'>

In [117]:
#sorted function only return sorted tuple but not altered in same tuple
b=(4.5,13,53,1,4,10,5.7)
print(sorted(b))
print(b)

[1, 4, 4.5, 5.7, 10, 13, 53]
(4.5, 13, 53, 1, 4, 10, 5.7)

In [121]:
#reversing a tuple
print(sorted(b,reverse=True))

TypeError: 'reverse' is an invalid keyword argument for print()

In [126]:
#repeating tuple elements
v=(1,2,3)
n=2
v=v*n
print(v)

(1, 2, 3, 1, 2, 3)

In [127]:
#Concatenating tuples 
set1=(1,2,3,4,5)
set2=(6,7,8,9,0)
all=set1+set2
print(all)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [133]:
#Checking existence of element from tuple
alphabet=("a","b","c","d","e")
print("a" in alphabet)
print("A" in alphabet)
print("e" not in alphabet)
print("G" not in alphabet)

True
False
False
True

In [135]:
#Iterating through tuple
for i in alphabet:
    print(i)

a
b
c
d
e

In [136]:
#Counting no of elements in tuple
print(len(alphabet))

5

In [137]:
#Maximum and minimum value from tuple
print(max(alphabet))
print(min(alphabet))

e
a

In [138]:
#Min() and Max() cannot be used with mixed data type
samp=(1,1.5,"a","Chennai",False)
min(samp)

TypeError: '<' not supported between instances of 'str' and 'int'

In [150]:
#Tuple Slicing
print(samp[:3])
print(samp[::2])
print(samp[2:-1])

(1, 1.5, 'a')
(1, 'a', False)
('a', 'Chennai')

# Dictionary

In [168]:
#Doesn't allow duplicates
alpha={"one":"a","two":"b","three":"c","four":"d","four":"d"}
print(alpha)

{'one': 'a', 'two': 'b', 'three': 'c', 'four': 'd'}

In [169]:
#Heterogenous
alpha={"one":"a","two":"b","three":"c","four":"d","four":"d"}
print(alpha)

{'one': 'a', 'two': 'b', 'three': 'c', 'four': 'd'}

In [171]:
#Mutable
#Elements cannot be retrieved using index 

alpha["one"]="A"
alpha["two"]="B"
alpha["three"]="C"
alpha["four"]="D"
print(alpha)

{'one': 'A', 'two': 'B', 'three': 'C', 'four': 'D'}

# Other operations with dictionary

In [184]:
#creating dictionary
cost={"apple":100,"Mango":80,"Banana":30,"Guava":50,"orange":70}
print(cost)

{'apple': 100, 'Mango': 80, 'Banana': 30, 'Guava': 50, 'orange': 70}

In [185]:
#Removing an element from dictionary
del cost["orange"]
print(cost)

{'apple': 100, 'Mango': 80, 'Banana': 30, 'Guava': 50}

In [195]:
#Word count using dictionary
tt="You know New York , you need New York , you know you need unique New York"
wrd_cnt={}
for wrd in tt.split():
    if wrd not in wrd_cnt:
        wrd_cnt[wrd]=1
    else:
        wrd_cnt[wrd]+=1
print(wrd_cnt)

{'You': 1, 'know': 2, 'New': 3, 'York': 3, ',': 2, 'you': 3, 'need': 2, 'unique': 1}

In [197]:
#Throws error since key is not initialized
tt="You know New York , you need New York , you know you need unique New York"
wrd_cnt={}
for wrd in tt.split():
    wrd_cnt[wrd]+=1
print(wrd_cnt)

KeyError: 'You'

In [198]:
from collections import defaultdict
tt="You know New York , you need New York , you know you need unique New York"

#we passed int()into defaultdict()
wrd_cnt=defaultdict(int)
for wrd in tt.split():
    wrd_cnt[wrd]+=1
print(wrd_cnt)

defaultdict(<class 'int'>, {'You': 1, 'know': 2, 'New': 3, 'York': 3, ',': 2, 'you': 3, 'need': 2, 'unique': 1})

In [199]:
#Looping thorough dictionary
for key,value in wrd_cnt.items():
    print(key,value)

You 1
know 2
New 3
York 3
, 2
you 3
need 2
unique 1

In [207]:
#length of dictionary
#creating dictionary
cost={"apple":100,"Mango":80,"Banana":30,"Guava":50,"orange":70}
print(len(cost))

5

In [208]:
#Converting dictionary into string
print(str(cost))

{'apple': 100, 'Mango': 80, 'Banana': 30, 'Guava': 50, 'orange': 70}

In [209]:
#type
type(cost)

dict

In [211]:
#Copy dictionary
c=cost.copy()
print(c)

{'apple': 100, 'Mango': 80, 'Banana': 30, 'Guava': 50, 'orange': 70}

In [212]:
#print keys of dictionary
print(c.keys())

dict_keys(['apple', 'Mango', 'Banana', 'Guava', 'orange'])

In [213]:
#print values of dictionary
print(c.values())

dict_values([100, 80, 30, 50, 70])

In [214]:
#return key value pair
print(c.items())

dict_items([('apple', 100), ('Mango', 80), ('Banana', 30), ('Guava', 50), ('orange', 70)])

# List Comprehension

In [228]:
#printing name of fruits and vegetable having more than 6 characters
fruits_n_veg=["Apple","Orange","Pomegranete","Banana","Cucumber","Chilli","Kiwi"]
a=[i for i in sample if len(i)>6 ]
print(a)

['Pomegranete', 'Cucumber']

In [237]:
#Using nested if
fruit=["Apple","Guava","Orange","Banana"]
cost=[100 if p=="Apple" else 50 if p=="Guava" else 70 if p=="Orange" else 30 for p in fruit]
print(cost)

[100, 50, 70, 30]