# String Datatype (str)

In [25]:
name="Ashwin Balaji"
print(name)
type(name)

Ashwin Balaji

str

Strings should be enclosed inside quotes

# Integer Datatype (int)

In [15]:
age=19
print(age)
type(age)

19

int

# Float Datatype (float)

In [17]:
length=5.4
print(length)
type(length)

5.4

float

# Boolean Datatype (bool)

In [29]:
x=True
print(x)
type(x)

True

bool

# Examples

In [28]:
x="4.5"
print(x)
type(x)

4.5

str

# Implicit Conversion

In [31]:
Item_price = 20
No_of_item = 5
Total_price = Item_price * No_of_item
print(Total_price)
type(Total_price)

100

int

In [32]:
Item_price = 20.8
No_of_item = 5
Total_price = Item_price * No_of_item
print(Total_price)
type(Total_price)

104.0

float

Python interpreter converts variable type without our knowledge

# Explicit Conversion

In [38]:
Item_price = 20
tax = "5.2"
Total_price = Item_price + tax
print(Total_price)
type(Total_price)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [37]:
Item_price = "20"
tax = "5.2"
Total_price = Item_price + tax
print(Total_price)
type(Total_price)

205.2

str

User convert variable's datatype according to the problem's requirements

In [39]:
Item_price = 20
tax = "5.2"
Total_price = Item_price + float(tax)
print(Total_price)
type(Total_price)

25.2

float

Here we are converting datatype of tax from string to float

# Conversion of datatype

In [53]:
x=5
print(str(x))
print(bool(x))
print(float(x))

5
True
5.0

Conversion from integer

In [66]:
x=5.501
print(str(x))
print(bool(x))
print(int(x))

5.501
True
5

Conversion from float

In [54]:
x="5"
print(int(x))
print(bool(x))
print(float(x))

5
True
5.0

In [8]:
x="10.2"
print(int(x))
print(bool(x))
print(float(x))

ValueError: invalid literal for int() with base 10: '10.2'

In [7]:
x="aa"
print(int(x))
print(bool(x))
print(float(x))

ValueError: invalid literal for int() with base 10: 'aa'

Conversion from string

In [69]:
x=True
print(int(x))
print(float(x))
print(str(x))

1
1.0
True

Conversion from boolean